.address {
  display: none;
  margin-left: auto;
  list-style: none;
}
.address__item {
  color: #757575;
  text-decoration: none;
  width: 135px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0 25px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill, transform, opacity, visibility;
}
.address__item:hover {
  fill: #2196f3;
  color: #2196f3;
}
.address__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.address__phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .address {
    display: block;
    margin-left: auto;
    list-style: none;
  }
  .address__item {
    color: #757575;
    text-decoration: none;
    width: auto;
    height: 14px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill, transform, opacity, visibility;
  }
  .address__item:hover {
    fill: #2196f3;
    color: #2196f3;
  }
  .address__envelope {
    width: 14px;
    height: 15px;
    margin-right: 8px;
  }
  .address__phone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    display: flex;
    margin-left: auto;
    list-style: none;
  }
  .address__item {
    color: #757575;
    text-decoration: none;
    width: 135px;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: 0 25px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill, transform, opacity, visibility;
  }
  .address__item:hover {
    fill: #2196f3;
    color: #2196f3;
  }
  .address__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .address__phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
.advantages {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0px;
  list-style: none;
  padding: 0;
}
.advantages__item {
  width: auto;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin: 30px 10px;
}
.advantages__icon {
  width: 60px;
  height: 60px;
}
.advantages__title {
  width: auto;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}
.advantages__text {
  width: auto;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    max-width: 100%;
    flex-basis: calc((100% - 30px) / 2);
  }
  .advantages__item {
    max-width: 100%;
    height: 120px;
    display: flex;
    margin: 10px 0px;
  }
  .advantages__icon {
    width: 60px;
    height: 60px;
  }
  .advantages__title {
    max-width: 100%;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
  }
  .advantages__text {
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    max-width: 100%;
    flex-basis: 25%;
    padding: 0px 10px;
  }
  .advantages__item {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin: 30px 10px;
  }
  .advantages__icon {
    width: 60px;
    height: 60px;
  }
  .advantages__title {
    width: 100%;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
  }
  .advantages__text {
    width: 100%;
    height: 75px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0px 10px;
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, opacity;
}
.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(100%);
}

.clients-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0px;
}
.clients-list__item {
  width: 100%;
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, fill, transform, opacity, visibility;
}
.clients-list__item:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.clients-list__link {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, transform, opacity, visibility;
}
.clients-list__link:hover {
  fill: #2196f3;
}
.clients-list__icon {
  width: 100%;
  height: 60px;
  position: relative;
  top: 25%;
}
.clients-list__icon:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .clients-list__item {
    width: 100%;
    flex-basis: calc((100% - 60px) / 3);
    height: 92px;
    border: 1px solid rgb(175, 177, 184);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, fill, transform, opacity, visibility;
  }
  .clients-list__item:hover {
    border: 1px solid #2196f3;
    fill: #2196f3;
  }
  .clients-list__link {
    fill: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, transform, opacity, visibility;
  }
  .clients-list__link:hover {
    fill: #2196f3;
  }
  .clients-list__icon {
    width: 100%;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    flex-wrap: nowrap;
  }
  .clients-list__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid rgb(175, 177, 184);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, fill, transform, opacity, visibility;
  }
  .clients-list__item:hover {
    border: 1px solid #2196f3;
    fill: #2196f3;
  }
  .clients-list__link {
    fill: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, transform, opacity, visibility;
  }
  .clients-list__link:hover {
    fill: #2196f3;
  }
  .clients-list__icon {
    width: 106px;
    height: 60px;
    margin: 16px 32px;
  }
}
.clients {
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    height: 372px;
  }
}
.footer-container {
  margin: 0 auto;
  width: 480px;
  display: block;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: unset;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}
.footer-address-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-address-container {
    display: inline-block;
    margin: 57px 144px 0px 80px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address-container {
    display: inline-block;
    align-items: center;
    margin: 50px 0px 0px 15px;
    text-align: left;
  }
}
.footer-address {
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-address {
    height: 21px;
    width: 248px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}
.footer-contact {
  padding: 9px 0px;
}
.footer-contact__item {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  width: 231px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, transform, opacity, visibility;
}
.footer-contact__item:hover {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-contact {
    padding: 9px 0px;
  }
  .footer-contact__item {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    width: 231px;
    height: 21px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, transform, opacity, visibility;
  }
  .footer-contact__item:hover {
    color: #2196f3;
  }
}
.footer-logo {
  margin-bottom: 20px;
  margin-top: 60px;
}
.footer-logo__link {
  width: 145px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.footer-logo__text {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    margin: 0px 0px 20px 0px;
  }
  .footer-logo__link {
    width: 145px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196f3;
  }
  .footer-logo__text {
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    padding-bottom: 20px;
    margin: 0px;
  }
  .footer-logo__link {
    width: 145px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196f3;
  }
  .footer-logo__text {
    color: #ffffff;
  }
}
.footer-main {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer {
  min-width: 480px;
  background: #2f303a;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    min-width: 768px;
    background: #2f303a;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    min-width: 1200px;
    background: #2f303a;
    height: 252px;
  }
}
.grid-list {
  flex-wrap: wrap;
  display: block;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0px;
}
.grid-list__item {
  width: 100%;
  position: relative;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, box-shadow, transform, opacity, visibility;
}
.grid-list__item:nth-last-child(-n+1) {
  margin-bottom: 0px;
}
.grid-list__item:hover {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.grid-list__example {
  margin: 0px;
  background: #ffffff;
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: translate, transform, opacity, visibility;
}
.grid-list__example:hover .grid-list__example-description {
  transform: translateY(0);
}
.grid-list__picture {
  width: 100%;
  height: 294px;
}
.grid-list__example-description {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-justify: auto;
  text-align: center;
  transform: translateY(142%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.grid-list__example-title {
  height: 110px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  padding-top: 20px;
  color: #212121;
  padding-left: 24px;
  background-color: #ffffff;
  width: auto;
  height: 110px;
}
.grid-list__example-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: left;
  padding-top: 4px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .grid-list {
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
  }
  .grid-list__item {
    flex-basis: calc((100% - 30px) / 2);
    position: relative;
    height: 404px;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, box-shadow, transform, opacity, visibility;
  }
  .grid-list__item:nth-last-child(-n+1) {
    margin-bottom: 0px;
  }
  .grid-list__item:hover {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .grid-list__example {
    margin: 0px;
    background: #ffffff;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: translate, transform, opacity, visibility;
  }
  .grid-list__example:hover .grid-list__example-description {
    transform: translateY(0);
  }
  .grid-list__picture {
    width: 100%;
    height: 294px;
  }
  .grid-list__example-description {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-justify: auto;
    text-align: center;
    transform: translateY(102%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .grid-list__example-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;
    padding-top: 20px;
    color: #212121;
    padding-left: 24px;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 110px;
  }
  .grid-list__example-type {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: left;
    padding-top: 4px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .grid-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
  }
  .grid-list__item {
    flex-basis: calc(33.3333333333% - 30px);
    width: 370px;
    position: relative;
    height: 404px;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, box-shadow, transform, opacity, visibility;
    margin: 0;
  }
  .grid-list__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
  .grid-list__item:hover {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .grid-list__example {
    margin: 0;
    background: #ffffff;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: translate, transform, opacity, visibility;
    width: 370px;
  }
  .grid-list__example:hover .grid-list__example-description {
    transform: translateY(0);
  }
  .grid-list__picture {
    width: 370px;
    height: 294px;
  }
  .grid-list__example-description {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-justify: auto;
    text-align: center;
    transform: translateY(102%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .grid-list__example-title {
    height: 110px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;
    padding-top: 20px;
    color: #212121;
    padding-left: 24px;
    position: absolute;
    background-color: #ffffff;
    width: 370px;
    height: 110px;
  }
  .grid-list__example-type {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: left;
    padding-top: 4px;
    padding-bottom: 20px;
    width: 370px;
  }
}
@media screen and (max-width: 1200px) {
  .handle {
    display: none;
  }
}
.handle-list {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
  list-style: none;
  padding: 0px;
}
.handle-list__item {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}
.handle-list__description {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  border-bottom: 1px solid #ececec;
  min-width: 480px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
    min-width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: auto;
  }
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 786px) {
  .header-container {
    min-width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.heading-main {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 365px;
  height: 84px;
  display: flex;
  margin: 0px auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .heading-main {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    width: 365px;
    height: 84px;
    display: flex;
    margin: 0px auto;
  }
}
@media screen and (min-width: 1200px) {
  .heading-main {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    width: 696px;
    height: 120px;
    display: flex;
    margin: 0px auto;
  }
}
.section-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 60px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .section-heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 60px;
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .section-heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 94px;
    padding-bottom: 50px;
    margin: 0px;
  }
}
.js-menu-container.is-open {
  transform: translateX(0);
}

.js-close-menu {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 21px;
  right: 25px;
  cursor: pointer;
}
.js-close-menu:hover {
  fill: #2196f3;
}

.join-us {
  display: block;
  margin: 60px 0px;
}
.join-us__text {
  text-align: center;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .join-us {
    display: inline-block;
    width: 206px;
    height: 80px;
    position: relative;
    bottom: 47px;
    right: 10px;
  }
  .join-us__text {
    text-align: center;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .join-us {
    margin: 0 70px;
    position: relative;
    top: 60px;
  }
  .join-us__text {
    width: 113px;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px;
  }
}
.logo {
  width: 134px;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.logo__header {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 134px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196f3;
  }
  .logo__header {
    color: #212121;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 145px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196f3;
  }
  .logo__header {
    color: #212121;
  }
}
.lorem {
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
}

.lorem-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .lorem-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu {
  background-color: white;
  border: none;
  margin-right: 15px;
}
.mobile-menu__icon {
  width: 40px;
  height: 40px;
}
.mobile-menu__icon:hover {
  fill: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-phone {
  display: block;
  margin-top: 302px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
  margin-left: 40px;
  margin-bottom: 32px;
}

.mobile-menu-address {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 40px;
  text-decoration: none;
}

.mobile-navigation {
  list-style: none;
  margin-top: 48px;
  margin-left: 40px;
  padding: 0px;
}
.mobile-navigation__item {
  margin-bottom: 32px;
}
.mobile-navigation__link {
  text-decoration: none;
  width: 53px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill, transform, opacity, visibility;
}
.mobile-navigation__link:hover {
  color: #2196f3;
  fill: #2196f3;
}

.mobile-social {
  list-style: none;
  display: flex;
  margin-top: 64px;
  margin-left: 40px;
  padding: 0px;
}
.mobile-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.mobile-social__item:first-of-type {
  margin-left: 0px;
}
.mobile-social__item:last-of-type {
  border: none;
}
.mobile-social__text {
  margin-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  transform: rotate(90deg);
}

.modal-form {
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal-form__label {
  padding-left: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.modal-form__label:focus-within {
  fill: #2196f3;
}
.modal-form__item {
  display: block;
  width: 370px;
  height: 40px;
  margin: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-radius, border;
}
.modal-form__item:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.modal-form__area {
  display: block;
  width: 370px;
  height: 120px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-radius, border;
}
.modal-form__area:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.modal-form__icon {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 55px;
  top: 29px;
}
.modal-form__checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 40px;
  margin-top: 20px;
  justify-content: center;
  cursor: pointer;
}
.modal-form__checkbox-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border, background-image;
  appearance: none;
  width: 16px;
  height: 15px;
  content: "";
  border: 2px solid rgb(33, 33, 33);
  display: inline-block;
  align-items: center;
  border-radius: 2px;
  position: relative;
  top: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form__checkbox-text:checked {
  background-color: #2196f3;
  border: none;
  background-image: url(../Images/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.modal-form__terms-text {
  color: #2196f3;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .modal-form {
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .modal-form__label {
    padding-left: 55px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    position: relative;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
  .modal-form__label:focus-within {
    fill: #2196f3;
  }
  .modal-form__item {
    display: block;
    width: 448px;
    height: 40px;
    margin: auto;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-radius, border;
  }
  .modal-form__item:focus {
    outline: none;
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
  .modal-form__area {
    display: block;
    width: 448px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding-left: 16px;
    padding-top: 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-radius, border;
  }
  .modal-form__area:focus {
    outline: none;
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
  .modal-form__icon {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 55px;
    top: 29px;
  }
  .modal-form__checkbox {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    padding-left: 55px;
    margin-top: 20px;
    justify-content: center;
    cursor: pointer;
  }
  .modal-form__checkbox-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border, background-image;
    appearance: none;
    width: 16px;
    height: 15px;
    content: "";
    border: 2px solid rgb(33, 33, 33);
    display: inline-block;
    align-items: center;
    border-radius: 2px;
    margin-right: 8px;
    position: relative;
    top: 2px;
    cursor: pointer;
  }
  .modal-form__checkbox-text:checked {
    background-color: #2196f3;
    border: none;
    background-image: url(../Images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .modal-form__terms-text {
    color: #2196f3;
    text-decoration: underline;
  }
}
.modal-info {
  width: 370px;
  height: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .modal-info {
    width: 448px;
    height: 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 40px;
    margin: 12px auto;
    padding-bottom: 20px;
  }
}
.modal-submit-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 450px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
}
.modal__close-btn:hover {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 9px;
    cursor: pointer;
  }
}
.nav {
  display: none;
  align-items: center;
  margin: 0px 70px;
  list-style: none;
  padding: 0px;
}
.nav:hover {
  color: #2196f3;
  fill: #2196f3;
}
.nav__item {
  margin: 0px 23px;
}
.nav__link {
  text-decoration: none;
  width: 53px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill, transform, opacity, visibility;
}
.nav__link:hover {
  color: #2196f3;
  fill: #2196f3;
}
.nav__link--current::after {
  content: "";
  display: block;
  position: relative;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
  margin-top: -4px;
  top: 31px;
}
.nav__link--current:hover {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    margin: 0px 70px;
    list-style: none;
    padding: 0px;
  }
  .nav:hover {
    color: #2196f3;
    fill: #2196f3;
  }
  .nav__item {
    margin: 0px 23px;
  }
  .nav__link {
    text-decoration: none;
    width: 53px;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: #212121;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill, transform, opacity, visibility;
  }
  .nav__link:hover {
    color: #2196f3;
    fill: #2196f3;
  }
  .nav__link--current::after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 4px solid #2196f3;
    border-radius: 2px;
    margin-top: -4px;
    top: 31px;
  }
  .nav__link--current:hover {
    color: #2196f3;
    fill: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    align-items: center;
    margin: 0px 70px;
    list-style: none;
    padding: 0px;
  }
  .nav:hover {
    color: #2196f3;
    fill: #2196f3;
  }
  .nav__item {
    margin: 0px 23px;
  }
  .nav__link {
    text-decoration: none;
    width: 53px;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
    color: #212121;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill, transform, opacity, visibility;
  }
  .nav__link:hover {
    color: #2196f3;
    fill: #2196f3;
  }
  .nav__link--current::after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 4px solid #2196f3;
    border-radius: 2px;
    margin-top: -4px;
    top: 31px;
  }
  .nav__link--current:hover {
    color: #2196f3;
    fill: #2196f3;
  }
}
.newsletter-button {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: center;
  padding-right: 42px;
  cursor: pointer;
  margin: 20px 111px 60px 129px;
}
.newsletter-button__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: 24px;
  margin-top: 3px;
}

@media screen and (min-width: 768px) {
  .newsletter-button {
    width: 200px;
    height: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;
    padding-right: 42px;
    cursor: pointer;
    margin: 20px 284px 60px 284px;
  }
  .newsletter-button__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: 24px;
    margin-top: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-button {
    width: 200px;
    height: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    bottom: 70px;
    left: 86px;
  }
  .newsletter-button__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: 24px;
    margin-top: 3px;
  }
}
.newsletter-input {
  width: 450px;
  height: 50px;
  margin: 0 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  padding-left: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, transform, opacity, visibility;
}
.newsletter-input:hover, .newsletter-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 768px) {
  .newsletter-input {
    display: block;
    width: 450px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background: #2f303a;
    padding-left: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, transform, opacity, visibility;
  }
  .newsletter-input:hover, .newsletter-input:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-input {
    width: 358px;
    height: 50px;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background: #2f303a;
    padding-left: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, transform, opacity, visibility;
  }
  .newsletter-input:hover, .newsletter-input:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}
.newsletter {
  margin: 0px;
  display: block;
  justify-content: center;
}
.newsletter__text {
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .newsletter {
    margin: 0px;
    display: block;
    justify-content: center;
  }
  .newsletter__text {
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter {
    margin: 0px;
    margin-left: -10px;
    position: relative;
    top: 45px;
    width: auto;
    height: 86px;
  }
  .newsletter__text {
    width: 207px;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.order {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  margin: 30px auto;
  padding: 0;
  stroke: black;
  border: 1px solid rgb(0, 0, 0);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
}

.portfolio {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-bottom: 94px;
  }
}
.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin-left: 15px;
}
.portfolio-filter__item {
  margin: 15px 8px 0px 0px;
  display: flex;
  flex-basis: calc(33.3333333333% - 30px);
  height: 38px;
}
.portfolio-filter__button {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
  cursor: pointer;
  background: #f5f4fa;
  line-height: 1.6;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color, background, box-shadow, border-radius, transform, opacity, visibility;
  padding: 0px;
  width: 100%;
}
.portfolio-filter__button:hover, .portfolio-filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    margin: 94px 0px 50px 107px;
    padding: 0px;
    flex-wrap: nowrap;
  }
  .portfolio-filter__item {
    margin: 0 4px;
  }
  .portfolio-filter__button {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 6px 22px;
    text-align: center;
    cursor: pointer;
    background: #f5f4fa;
    line-height: 1.6;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, background, box-shadow, border-radius, transform, opacity, visibility;
    width: auto;
  }
  .portfolio-filter__button:hover, .portfolio-filter__button:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    margin: 94px 0px 50px 318px;
    padding: 0px;
  }
  .portfolio-filter__item {
    margin: 0 4px;
    justify-content: center;
  }
  .portfolio-filter__button {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 6px 22px;
    text-align: center;
    cursor: pointer;
    background: #f5f4fa;
    line-height: 1.6;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, background, box-shadow, border-radius, transform, opacity, visibility;
  }
  .portfolio-filter__button:hover, .portfolio-filter__button:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-bottom: 24px;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill, transform, opacity, visibility;
  margin-top: 16px;
  margin-right: 10px;
}
.social-list__link--secondary {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #fff;
}
.social-list__icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-bottom: 24px;
  }
  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill, transform, opacity, visibility;
    margin-top: 16px;
    margin-right: 10px;
  }
  .social-list__link--secondary {
    fill: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social-list__link:hover, .social-list__link:focus {
    background-color: #2196f3;
    fill: #fff;
  }
  .social-list__icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill, transform, opacity, visibility;
    margin-top: 16px;
    margin-right: 10px;
  }
  .social-list__link--secondary {
    fill: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social-list__link:hover, .social-list__link:focus {
    background-color: #2196f3;
    fill: #fff;
  }
  .social-list__icon {
    width: 20px;
    height: 20px;
  }
}
.team-list {
  display: block;
  padding: 0px 15px;
  list-style: none;
  margin: 30px 0px;
}
.team-list__item {
  align-items: center;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__picture {
  margin: 0px;
  justify-content: center;
  align-items: center;
}
.team-list__person {
  width: 100%;
}
.team-list__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
}
.team-list__position {
  color: #757575;
  display: block;
  justify-content: center;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .team-list {
    padding: 0px;
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-list__item {
    display: inline-block;
    justify-content: space-evenly;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    flex-basis: calc((100% - 30px) / 2);
  }
  .team-list__picture {
    justify-content: center;
    align-items: center;
  }
  .team-list__person {
    width: 100%;
    height: 374px;
  }
  .team-list__description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 30px;
  }
  .team-list__position {
    color: #757575;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    width: 1200px;
    list-style: none;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
  .team-list__item {
    align-items: center;
    width: 270px;
    height: 428px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-list__picture {
    margin: 0;
    width: 270px;
    justify-content: center;
    align-items: center;
  }
  .team-list__person {
    width: 274px;
    height: 260px;
  }
  .team-list__description {
    font-family: "Roboto";
    width: 270px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 30px;
  }
  .team-list__position {
    color: #757575;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 270px;
  }
}
.team {
  background: #f5f4fa;
  height: auto;
  margin: 0 auto;
  display: block;
  justify-content: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    background: #f5f4fa;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    background: #f5f4fa;
    height: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .title {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/Background-team480x400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/Background-team480x400@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1200px) {
  .title {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/Background-team768x400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/Background-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */