.footer-address-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-address-container {
    display: inline-block;
    margin: 57px 144px 0px 80px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address-container {
    display: inline-block;
    align-items: center;
    margin: 50px 0px 0px 15px;
    text-align: left;
  }
}
