.footer-container {
  margin: 0 auto;
  width: 480px;
  display: block;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: unset;
  }
}
