.mobile-menu-phone {
  display: block;
  margin-top: 302px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $brand-color;
  margin-left: 40px;
  margin-bottom: 32px;
}
