.portfolio {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-bottom: 94px;
  }
}
